{% extends 'base.html' %}

{% load static %}

{% block title %} 
    Create
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/form.css' %}">
{% endblock %}

{% block content %} 

<section id="all-forms">
    <h2>Add your Favorite Place</h2>
    {% if message %}
        <h2 id="er">{{message}}</h2>
    {% endif %}
    <form action="{% url  'create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for form_field in form %}
            <div class="form-control {%if form_field.errors%}invalid{%endif%}">
                {{form_field.label_tag}}
                {{form_field}}
                {{form_field.errors}}
            </div>
        {% endfor %}
        <button type="submit">Add</button>
    </form>
</section>
    
{% endblock %}